.header {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 5%;

	& *:not(.break) {
		cursor: pointer;
	}

	@include sm {
		padding: .8rem 5%;
	}

	@include xl {
		padding: 1.6rem 15%;
	}

	.header-item:not(:first-child) {
		padding-left: .5em;
		fill: $nutGray;
		align-self: center;
		transition: .5s all;

		&:hover {
			fill: #fff;
			transition: .5s all;
		}
	}

	.break {
		width: 10%;

		@include lg {
			width: 60%;
		}
	}

	.logo {
		width: 150px;
		height: 25px;

		@include md {
			width: 240px;
			height: 60px;
		}

		@include xl {
			height: 40px;
		}
	}

}