.loading_wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.loading_wrapper>h5 {
	font-weight: 500;
	letter-spacing: 9px;
	animation: 2.6s fadeIn infinite linear;
}

.loading {
	transition: .5s all;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	transform-origin: center;
	animation: 1s turning infinite linear;
}

@keyframes strecthing {
	0% {
		letter-spacing: 2px;
	}

	50% {
		letter-spacing: 12px;
	}

	100% {
		letter-spacing: 2px;
	}
}

@keyframes turning {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



.loading_frame {
	position: absolute;
	z-index: -1;
	height: 16vh;
	left: 0;
	margin: 0 auto;
	right: 0;
	animation: fadeIn 2s cubic-bezier(.31, .02, .34, .95);

	rect {
		height: 16vh;
		stroke-dasharray: 450 250;
		stroke-dashoffset: 3500;
		animation: draw 20s linear infinite;
	}

}

@keyframes draw {
	to {
		stroke-dashoffset: 0
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}