.looping-gallery-filter-wrapper {
	position: relative;
	padding: 3% 0;
	margin: 0 5%;
	display: flex;
	white-space: nowrap;
	overflow: hidden;


	&::before {
		content: '';
		background-image: linear-gradient(to right, $nutDark, rgba($nutDark, 0));
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		width: 25%;
		z-index: 1;
	}

	&::after {
		content: '';
		background-image: linear-gradient(to left, $nutDark, rgba($nutDark, 0));
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		width: 25%;
	}
}

.looping-gallery-filter {
	overflow-x: scroll;
	display: flex;
	height: 10vh;

	// justify-content: center;
	a {
		height: max-content;
		cursor: pointer;
		font-size: .9em;
		font-weight: 500;
		text-transform: uppercase;
		transition: .3s all;
		padding: 0 2em;
		border-right: 1px solid $nutRed;

		@include md {
			font-size: 1em;
			letter-spacing: 2px;
		}

		@include xl {
			font-size: .8em;
			letter-spacing: 2px;
		}

		&:first-child {
			border-left: 0;
			margin-left: 20%;
		}

		&:last-child {
			padding-right: 35%;
		}

		&:hover {
			transition: .3s all;
			color: $nutRed;
		}
	}

}

.filter {
	opacity: .1;
	transition: .5s all;
	pointer-events: none;
}

.filter-active {
	color: $nutRed;
}